@font-face {
    font-family: 'secondary';
    src: url('../assets/fonts/Elms_Sans/static/ElmsSans-Regular.ttf');
}

.account{
    margin: 20px 150px 0 50px;
    width: 80%;
    user-select: none;
    -moz-user-select: none;
}

.account h3{
    font-family: 'primary';
    font-size: 13px;
}

.account img{
    height: 20px;
    transition: filter ease-in-out 0.3s;
}

body.dark-mode .account img{
    filter: invert(1);
}

.account .info-sect{
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.account .info-sect p{
    margin: 0 0 0 10px;
    font-family: 'secondary';
}