body.modal-open{
    overflow: hidden;
}

.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.25s ease-out forwards;
}

.modal-content{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 2rem;
    border-radius: 8px;
    position: relative;
    width: 90vw;
    max-width: 1200px;
    max-height: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: scaleUp 0.25s ease-out forwards;
    user-select: none;
}

body.dark-mode .modal-content{
    background-color: rgba(255, 255, 255, 0.1);
}

.modal-close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color ease-in-out 0.2s;
}

body.dark-mode .modal-close-btn{
    color: white;
}

.modal-close-btn:hover{
    color: lightblue;
}

body.dark-mode .modal-close-btn:hover{
    color: lightblue;
}

.zoomed-image{
    max-width: 70%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 4px;
}

.zoomed-container{
    text-align: center;
    display: flex;
}

.zoomed-container .post-info{
    text-align: left;
    margin: 0 0 0 20px;
    font-family: 'primary';
}

.zoomed-container .post-info .username{
    font-size: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}