@font-face {
  font-family: "logo";
  src: url("../assets/fonts/BitcountSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "primary";
    src: url("../assets/fonts/Michroma-Regular.ttf");
}


.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 180px 0 0 0;
    user-select: none;
}

.login-form input{
    margin: 10px 0 5px 0;
    border-color: rgba(0, 0, 0, 0.2);
    font-family: 'primary';
}

.login-form h3{
    margin: 0;
    font-family: 'primary';
}

.login-form p{
    margin: 5px 0 5px 0;
    font-family: 'primary';
    font-size: 10px;
}

.login-form .password{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 5px 23px;
}

.login-form .password input{
    margin: 0;
}

.login-form .password img{
    height: 18px;
    margin-left: 5px;
}

body.dark-mode .login-form .password img{
    filter: invert(1);
}