@font-face {
  font-family: "logo";
  src: url("../assets/fonts/BitcountSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "primary";
    src: url("../assets/fonts/Michroma-Regular.ttf");
}


body {
  margin: 0;
  transition: all ease-in-out 0.5s;
}

.dark-mode{
    background-color: black;
    color: white;
}

.Header {
  user-select: none;
  display: flex;
  align-items: center;
  margin: 5px 0 0 10px;
}

.Header .logo{
    display: flex;
}

.Header h3 {
  font-family: "logo";
  margin: 5px 0 0 10px;
  font-size: 20px;
  transition: all ease-in-out 0.5s;
}

.Header h3:hover{
    color: green;
    cursor: pointer;
}

body.dark-mode .Header h3:hover{
    color: lightblue;
}

.Header img{
    height: 30px;
    transition: all ease-in-out 0.3s;
}

.Header form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.Header form .search{
    margin: 0 0 0 10px;
    font-family: 'primary';
    border-style: ridge;
    height: 16px;
}

.Header form .submit{
    margin: 0 0 0 5px;
    font-family: 'logo';
    transition: all ease-in-out 0.3s;
}

.Header form .submit:hover{
    cursor: pointer;
    filter: invert(1);
}

.Header .user-profile{
    display: flex;
    align-items: center;
    margin: 0 5px 0 0;
}

.Header .user-profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.Header .user-profile p{
    font-family: 'primary';
    font-size: 10px;
    margin: 0 5px 0 0;
    transition: all ease-in-out 0.5s;
}

.Header .user-profile p:hover{
    cursor: pointer;
    color: green;
}

body.dark-mode .Header .user-profile p:hover{
    color: lightblue;
}

body.dark-mode .Header .logo img{
    filter: invert(1);
}

.photo-section{
    margin: 10px 0 15px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.photo-card{
    margin: 15px 0 0 10px;
    user-select: none;
    max-width: 200px;
}

.photo-card img{
    max-width: 200px;
    border-radius: 10px;
    transition:  all ease-in-out 0.5s;
}

.photo-card img:hover{
    border-radius: 3px;
}

.photo-card .caption{
    margin: 0;
    font-family: 'primary';
    font-size: 15px;
}

.photo-card .username{
    margin: 5px 0 0 0;
    font-family: 'primary';
    font-size: 12px;
}